.row.display-flex.align-items-center.justify-content-center
  .col-md-3
    .img-fluid
      = link_to image_tag(@movie.poster_url)
  .col-md-5
    %h2
      %strong 
      = @movie.title
    %strong Genre: 
    = @movie.genre
    %br/
    %strong Year:
    = @movie.year
    %br/
    %strong Director:
    = @movie.director
    %br/
    %strong Actors:
    = @movie.actors
    %br/
    %strong Plot:
    = @movie.plot
    %br/ 
    %strong Country:
    = @movie.country
    %br/   
    %strong Imdb rating:
    = @movie.imdb_rating
    %br/
    %strong Metascore rating:
    = @movie.metascore
- if user_signed_in? 
  = link_to "Watch later", watch_later_movie_add_to_list_path(@movie), method: :post, class: "button btn btn-sm btn-outline-secondary"
  = render partial: "reviews/form", locals: {movie: @movie, review: Review.new}
  = render  partial: "reviews/index", locals: {movie: @movie} unless @movie.reviews.empty?
      
      