.card.mb-4.shadow-sm
  .img-fluid
    = link_to image_tag(@movie.poster_url, :class => 'movie_poster')
  .card-body.mt-0.pt-0
    %p.card-text
      %h6
        = @movie.title
      %strong Genre: 
      = @movie.genre
      %br/
      %strong Year:
      = @movie.year
      %br/
      %strong Imdb rating:
      = @movie.imdb_rating
      %br/
      %strong Metascore rating:
      = @movie.metascore
- if user_signed_in? 
  = link_to "Watch later", watch_later_movie_add_to_list_path(@movie), method: :post, class: "button btn btn-sm btn-outline-secondary"
      
      