%h1 Edit Profile
%hr/
.row
  .col-md-auto
    .text-center
      .profile-avatar
        - if @user.avatar.attached?
          = image_tag @user.avatar.variant(resize: "200x200!")
        - else
          = gravatar_image_tag('junk', :alt => 'Github Default Gravatar', :gravatar => { :default => 'https://assets.github.com/images/gravatars/gravatar-140.png' })
      %h3
        %strong.user_name
          #{@user.first_name} #{@user.last_name} 
  .col-md-6.personal-info
    = simple_form_for @user, url: user_path, html: { method: :put } do |f|
      .form-group
        = f.input :first_name, class: 'form-control'
      .form-group
        = f.input :last_name, class: 'form-control'
      .form-group
        = f.input :email, class: 'form-control'
      .form-group
        = f.input :avatar, label: 'Profile photo'
      .form-group
        = f.submit "Save changes", class: "submit-button btn btn-large btn-primary"
    = simple_form_for @user, url: user_path, html: { method: :put } do |f|
      .form-group
        = f.input :password, class: 'form-control'
      .form-group
        = f.input :password_confirmation, class: 'form-control'
      .form-group
        = f.submit "Change password", class: "submit-button btn btn-large btn-primary"
%hr/