.container.text-center
  .row.small-spacing
    .col-md-3.col-xs-12
      .box-content.mb-2
        .profile-avatar.mb-5
          - if @user.avatar.attached?
            = image_tag @user.avatar.variant(resize: "200x200!")
          - else
            = gravatar_image_tag('junk', :alt => 'Github Default Gravatar', :gravatar => { :default => 'https://assets.github.com/images/gravatars/gravatar-140.png' })
        %h3
          %strong.user_name
            #{@user.first_name} #{@user.last_name} 
    .col-md-7.col-xs-12.pl-5
      .row
        .col-xs-12
          .box-content
            %h4.box-title.mb-4
              %strong Personal data
            .card-content
              .row
                .col-md-6
                  .row
                    .col-xs-5
                      %label
                        %i
                          First Name: &nbsp &nbsp
                    %strong.col-xs-7 #{@user.first_name}
                .col-md-6
                  .row
                    .col-xs-5
                      %label
                        %i
                          Last Name:&nbsp &nbsp 
                    %strong.col-xs-7 #{@user.last_name}
                %br/
                %br/
                .col-md-6
                  .row
                    .col-xs-5
                      %label
                        %i
                          Email: &nbsp &nbsp
                    %strong.col-xs-7 #{@user.email}
                .col-md-6
                  .row
                    .col-xs-5
                      %label
                        %i
                          Created At: &nbsp &nbsp
                    %strong.col-xs-7 #{@user.created_at.to_date} &nbsp
                    %strong.col-xs-7 #{@user.created_at.strftime("%H:%M")}
                %br/
                %br/
                %br/
                .col-md-6
                  .row
                    .col-xs-5
                      = link_to "Edit Profile", edit_user_path, class: "button btn btn-sm btn-outline-secondary"
                .col-md-6
                  .row
                    - if @user.active?
                      .col-xs-5
                        = link_to "Deactivate", user_path, method: :delete, class: "button btn btn-sm btn-danger"
                    - else
                      .col-xs-5
                        = link_to "Activate", user_activate_path(user_id: @user.id), class: "button btn btn-sm btn-success"
  - if current_user.admin?
    .row
      .col.text-center
        = link_to "All Users", users_path, class: "button btn btn-sm btn-primary"
  #review.container-fluid.px-0.py-5.mx-auto 
  .row.justify-content-center.mx-0.mx-md-auto
    .col-lg-10.col-md-11.px-1.px-sm-2
      .card.border-0.px-3
      - @user.reviews.each do |review|
        .review.p-5
          .row.d-flex
            .profile-pic
              - if review.user.avatar.attached?
                = image_tag(review.user.avatar.variant(resize:'50x50'), class: 'rounded-circle img')
              - else
                %img{:height => "60px", :src => "https://www.seekpng.com/png/detail/115-1150053_avatar-png-transparent-png-royalty-free-default-user.png", :width => "60px"}/
            .d-flex.flex-column.pl-3
              %h4 
                = review.user.first_name
              %p.grey-text 
                = review.created_at
          .row.pb-3
            .fa.fa-circle.green-dot.my-auto.rating-dot
            .fa.fa-circle.green-dot.my-auto.rating-dot
            .fa.fa-circle.green-dot.my-auto.rating-dot
            .fa.fa-circle.green-dot.my-auto.rating-dot
            .fa.fa-circle.green-dot.my-auto.rating-dot
            .green-text
              %h5.mb-0.pl-3 Comments:
          .row.pb-3
            %p 
              = review.content
          .row.ml-1
            .row.bg-light.via
              .px-2
                %img{:height => "18px", :src => "https://i.imgur.com/8lJt6UN.png", :width => "18px"}/
              %p.grey-text.mb-0.px-3 via Google