%header.navbar.navbar-expand-lg.fixed-top
  = link_to root_path do
    .logo-motto
      = image_tag  "logo-pic.png", class: "logo-pic"
      %span Movies Space
  %nav.collapse.navbar-collapse
    %ul.navbar-nav.offset-md-2
      - if user_signed_in?
        %li
          = link_to "Movies", root_path , class: "nav-link"
        - if user_signed_in? && current_user.admin?
          %li
          = link_to "Search", admin_movies_path, class: "nav-link"
  .header-join
    - if user_signed_in?
      = link_to "Account", user_path(current_user), class: "header-join-account"
      .text-white
        or
      = link_to "Log Out", destroy_user_session_path, method: :delete, class: "header-join-log-out"
    - else
      = link_to "Join", new_user_registration_path, class: "header-join-sign-up"
      .text-white
        or
      = link_to "Log In", new_user_session_path, class: "header-join-log-in"