= simple_form_for :movie, url: {action: "create"} do |f|
  = f.input :title, input_html: { value: @movie["Title"] }
  = f.input :year, input_html: { value: @movie["Year"] }
  = f.input :genre, input_html: { value: @movie["Genre"] }
  = f.input :country, as: :text, input_html: { value: @movie["Country"] }
  = f.input :director, input_html: { value: @movie["Director"] }
  = f.input :actors, as: :text, input_html: { value: @movie["Actors"] }
  = f.input :plot, as: :text, input_html: { value: @movie["Plot"] }
  = f.input :metascore, input_html: { value: @movie["Metascore"] }
  = f.input :imdb_rating, input_html: { value: @movie["imdbRating"] }
  = f.input :imdb_id, as: :hidden, input_html: { value: @movie["imdbID"] }
  = f.button :submit, "Save", class: "btn-primary"