.col-xl-6.col-12
  .box-content
    %h4.box-title Reviews
    / /.box-title
    %table.table.table-striped.margin-bottom-10
      %thead
        %tr
          %th{ style: "width:40%;" } Rate
          %th{ colspan: 2, style: "width:20%;" } Description        
      %tbody
      - @reviews.each do |review|
        %tr
          %td 
            = review.rate
          %td 
            = review.content         
          %td
            = link_to "Edit", edit_movie_review_path(id: review.id)
          %td
            = link_to "Delete", movie_review_path(id: review.id), method: :delete, data: {confirm: "Are you sure?"}
  = link_to "Add review", new_movie_review_path
